**/.angular/
**/.cache/
**/.git/
**/.idea/
**/.nuxt/
**/.next/
**/.svelte-kit/
**/.vite/
**/.vs/
**/.vscode/
**/.venv*/
**/bin/
**/build/
**/coverage/
**/dist/
**/logs/
**/node_modules/
**/obj/
**/TestResults/
**/tmp/
**/*.log
**/*.suo
**/*.swp
**/*.tmp
**/*.user
.DS_Store
.env
