{
  "semi": true,
  "trailingComma": "es5",
  "singleQuote": true,
  "printWidth": 100,
  "tabWidth": 2,
  "useTabs": false,
  "bracketSpacing": true,
  "bracketSameLine": false,
  "arrowParens": "avoid",
  "endOfLine": "lf",
  "quoteProps": "as-needed",
  "htmlWhitespaceSensitivity": "css",
  "vueIndentScriptAndStyle": false,
  "embeddedLanguageFormatting": "auto",
  "proseWrap": "preserve",
  "overrides": [
    {
      "files": ["*.html"],
      "options": {
        "parser": "angular",
        "printWidth": 120,
        "bracketSameLine": true,
        "htmlWhitespaceSensitivity": "ignore"
      }
    },
    {
      "files": ["*.sass"],
      "options": {
        "parser": "sass",
        "printWidth": 120,
        "singleQuote": false,
        "tabWidth": 2
      }
    },
    {
      "files": ["*.scss"],
      "options": {
        "parser": "scss",
        "printWidth": 120,
        "singleQuote": false,
        "tabWidth": 2
      }
    },
    {
      "files": ["*.json"],
      "options": {
        "parser": "json",
        "printWidth": 120,
        "tabWidth": 2
      }
    },
    {
      "files": ["*.md"],
      "options": {
        "parser": "markdown",
        "printWidth": 80,
        "proseWrap": "always",
        "tabWidth": 2
      }
    }
  ]
}